.hidden {
    display: none;
}

.main-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sub-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bgImg {
    height: 1050px;
    width: 1900px;
}

.size-con {
    height: 1000px;
    width: 1300px;
}